<ion-header>
  <ion-toolbar>
    <ion-title>Update New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="data.useremail" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="data.userpassword"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="updateUser()">Update</ion-button>
</ion-content> 